*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
form input{
    margin: 6px;
    padding: 8px;
}